.about {
  padding: 100px 60px;
  background: #0d0d0d;
  color: #fff;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about-image img {
  border: 4px solid red;
  border-radius: 10px;
  box-shadow: 0 0 25px red;
  max-width: 50%;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about-text h2 span {
  color: red;
}

.about-text p {
  margin-bottom: 50px;
  color: #ccc;
  line-height: 1.6;
}

.skills {
  margin: 20px 0;
}
.skills span {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  transition: 0.3s;
}
.skills span:hover {
  background: #fff;
  color: red;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: red;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  transition: background 0.3s, transform 0.3s;
}
.btn:hover {
  background: #ff3333;
  transform: scale(1.05);
}
nav a.active {
  color: red;
  font-weight: bold;
}
.about-image, .about-text {
  margin-top: 100px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}
.about-text { animation-delay: 0.3s; }
@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}

